{{ define "create_product.html" }}
{{ template "base.html" . }}

<h2 class="text-center my-4">Create Product</h2>
<form method="POST" action="/products/create" enctype="multipart/form-data">
  <div class="mb-3 col-sm-6 mx-auto">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="mb-3 col-sm-6 mx-auto">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
  </div>

  <div class="mb-3 col-sm-6 mx-auto">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" name="price" step="0.01" required>
  </div>

  <div class="mb-3 col-sm-6 mx-auto">
    <label for="quantity" class="form-label">Quantity</label>
    <input type="number" class="form-control" id="quantity" name="quantity" required>
  </div>

  <div class="mb-3 col-sm-6 mx-auto">
    <label for="image" class="form-label">Product Image</label>
    <input type="file" class="form-control" id="image" name="image">
  </div>

  <button type="submit" class="btn btn-primary w-50 d-block mx-auto">Create Product</button>
</form>

{{ end }}
