{{ define "home.html" }}
{{ template "base.html" . }}

<h1>All Products</h1>

{{ if .Products }}
<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {{ range .Products }}
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .Description }}</td>
            <td>${{ printf "%.2f" .Price }}</td>
            <td>{{ .Quantity }}</td>
        </tr>
        {{ end }}
    </table>
</div>
{{ else }}
<p>No products available.</p>
{{ end }}

{{ end }}









