{{ define "login.html" }}
{{ template "base.html" . }}


<h2 class="text-center my-4">Login</h2>
<form method="POST" action="/login">
  <div class="mb-3 col-sm-6 mx-auto">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>

  <div class="mb-3 col-sm-6 mx-auto">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>

  <button type="submit" class="btn btn-primary w-50 d-block mx-auto">Login</button>
</form>

<p class="text-center my-4">Don't have an account? <a href="/register">Register</a></p>

{{ end }}








